@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

#app-name {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 2rem;
  font-weight: 700;
}